<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Index</title>  
    {% load static %}  
    <link rel="stylesheet" href="{% static 'inventory/css/style.css' %}"/> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    
</head>  
<body>  
<form method="POST" class="post-form" action="/index/update/{{inventory.id}}">  
        {% csrf_token %}  
    <div class="container">  
<br>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <h3>Update Details</h3>  
    </div>  
  </div>  
   <!-- <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Inventory Id:</label>  
    <div class="col-sm-4">  
        <input type="text" name="eid" id="id_eid" required maxlength="20" value="{{ inventory.eid }}"/>  
    </div>  
  </div>  -->
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Name:</label>  
    <div class="col-sm-4">  
        <input type="text" name="name" id="id_name" required maxlength="100" value="{{ inventory.name }}" />  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Cost:</label>  
    <div class="col-sm-4">  
        <input type="text" name="cost" id="id_cost" required maxlength="254" value="{{ inventory.cost }}" />  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Selling Price:</label>  
    <div class="col-sm-4">  
        <input type="text" name="selling_price" id="id_selling_price" required maxlength="15" value="{{ inventory.selling_price }}" /> 
    </div>  
  </div>  
  {{form.label_tag}}<small class="text-danger">{{form.selling_price.errors|striptags}}</small><br>
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <button type="submit" class="btn btn-success">Update</button>  
    </div>  
  </div>  
    </div>  
</form>  
<a href="{% url "show" %}" class="btn btn-success">Show Inventory Record</a>
</body>  
</html> 